.box{
height: 500px;
width: 100vw;
background-color: #98D649;
border-bottom: 5px solid #E3E3E3;
}

.flipOut{
  height: 200px;
  width: 200px;
  background-color: #2C672B;
  transition: 1s;

  &:hover{
    background-color: #CFEDE5;
    transform: rotateX(360deg);
    transition: 2s;
  }
}
